<div class="offset-md-2">

    <% if @new_book.errors.any? %>
    
      <div>
        
        <h2><%= @new_book.errors.count %> error prohibited this obj from being saved:</h2>
        
        <ul>
          
          <% @new_book.errors.full_messages.each do |message| %>
          
            <li><%= message %></li>
            
          <% end %>
          
        </ul>
        
      </div>
      
      <% end %>
      
    </div>
      
        <h2>User info</h2>
        
        
        <%= image_tag @user.get_profile_image(100,100) %>
        
        <p class="border-top">name  <%= @user.name%></p>
        
        <p class="border-top">introduction  <%= @user.introduction%></p>
        
          <%= link_to edit_user_path(@user), class: "btn btn-outline-info edit_btn" do %>
          
            <i class="fa-solid fa-user-gear"></i>
     
          <% end %>
        
        <h2>New book</h2>
        
        <%= form_with model: @new_book, method: :post do |f| %>
        
          <p>Title</p>
          
          <%= f.text_field :title, class: "area2" %>
          
          <p>Opinion</p>
          
          <%= f.text_area :body, class: "area2" %>
          
          <div><%= f.submit 'Create Book', class: "btn btn-success my-3" %></div>
        
        <% end %>

    
  
  